.bg-cover {
  background-image: url('assets/img/sea-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* .warna-laut {
    color: #9ea9bb;
    background-color: #9ea9bb;
} */